@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
.blog-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-image{
    height: 50vh;
    position: relative;
    
}
.first-name{
    display: flex;
    align-items: start;
    padding: 20px;
    font-family: "Special Gothic Expanded One", sans-serif;
}
.first-name p{
    padding: 0;
    margin: 0;
}
.second-name{
    display: flex;
    align-items: start;
    padding: 20px;
    font-size: larger;
    font-weight: 800;
}
.second-name p{
    padding: 0;
    margin: 0;
}
.both-name{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color:#000000;
    font-size: xx-large;
}

.blog{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Noto Serif", serif;
    font-size: x-large;
    color:#006A71;
    padding-top: 20px;
}
.article{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-family: "Playwrite US Modern", cursive;
    color: #493D9E;
}
.first-three div{
    width: 30%;
    object-fit: cover;
}
.first-three img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.second-three div{
    width: 30%;
    object-fit: cover;
}
.second-three img{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
   
}

.first-three{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding-bottom: 40px;
    
}

.first-three p{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    text-align: center;
    position: absolute;
    top: 90%;
    background-color: #9ACBD0;
    width: 100px;
    border-radius: 10px;
}
.month{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.fourth{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1EFEC;
    margin-top: 20px;
    padding: 20px 0;
}
.text{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 80%;
}
.question{
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: "Noto Serif", serif;
}
.answer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 100px;
}
.last{
    text-align: center;
}